$tabbar-horizontal-spacing: dynamic(1px); 
$tabbar-horizontal-spacing-big: dynamic($tabbar-horizontal-spacing);
$tabbar-strip-height: dynamic(5px);
$tabbar-strip-height-big: dynamic($tabbar-strip-height);