$button-text-transform: dynamic(null);
$button-border-radius: dynamic(null);

@include button-ui(
    $ui: 'header',
    $color:  $material-colors('grey'),
    $background-color: transparent,
    $pressed-background-color: $base-pressed-color,
    $hovered-background-color: $material-colors('grey', 700),
    $disabled-background-color: rgba(0,0,0,0.12)

);

@include button-ui(
   $ui: 'action-segmented',
   $color: $base-color,
   $background-color: $faded-color,
   $pressed-color: $base-foreground-color,
   $pressed-background-color: $base-color,
   $hovered-background-color: $base-pressed-color,
   $pressed-hovered-background-color: $base-pressed-color,
   $focused-hovered-background-color: $base-pressed-color
);


@include button-ui(
 $ui: 'phone-badge',
 $badge-background-color : transparent,
 $badge-color :var($accent-color),
 $badge-border-color : transparent,
 $badge-min-width : 40px
);

@include button-ui(
 $ui: 'danger',
 $background-color: transparent,
 $hovered-background-color: $material-colors('grey', 700),
 $color: $alert-color
);

@include button-ui(
 $ui: 'success',
 $background-color: transparent,
 $hovered-background-color: $material-colors('grey', 700),
 $color: $confirm-color
);

@include button-ui(
 $ui: 'cyan',
 $background-color: transparent,
 $hovered-background-color: $material-colors('grey', 700),
 $color: $material-foreground-color('cyan')
);


@include button-ui(
    $ui: 'soft-grey',
    $color: $material-foreground-color('grey'),
    $background-color: $material-colors('grey'),
    $pressed-background-color: $base-pressed-color,
    $hovered-background-color: $material-colors('grey', 700),
    $disabled-background-color: rgba(0,0,0,0.12)

);

@include button-ui(
    $ui: 'soft-purple',
    $color: $material-foreground-color('purple'),
    $background-color: $material-colors('purple'),
    $pressed-background-color: $base-pressed-color,
    $hovered-background-color: $material-colors('purple', 700),
    $disabled-background-color: rgba(0,0,0,0.12)

);

