@include textfield-ui(
    $ui: 'search',
    $input-background-color: rgba(0, 0, 0, .1),
    $focused-input-background-color: rgba(0, 0, 0, .15),
    $input-color: rgba(0, 0, 0, .4),
    $focused-input-color: rgba(0, 0, 0, .4),
    $input-padding: 7px 7px 7px 0,
    $input-padding-big: 7px 7px 7px 0,
    $input-border-width: 0,
    $placeholder-color: rgba(0, 0, 0, .4),
    $focused-placeholder-color: #333,
    $input-underline-width: 0,
    $focused-input-underline-width: 0,
    $invalid-input-underline-width: 0,
);

.x-field-search{
    padding: 0 5px;
}
.x-field-search .x-input-wrap-el{
    border-radius: 5px;
}

.x-field > .x-separator{
    color: $field-label-color;
    @include font(600, $field-label-font-size, $field-label-line-height, $field-label-font-family);
}

.x-field.x-disabled > .x-separator{
    color: var(--disable-color) !important;
}
.x-textfield.x-disabled input{
    background-color: var(--faded-color);
}
.x-textfield input:read-only{
    background-color: var(--faded-color);
}
// .x-field > * > * > .x-error-message-el{
//     min-height: 16px;
// }
.fixed-field-error-message > * > * > .x-error-message-el{
    max-height: 16px;
    min-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}