$textfield-focused-input-border-style: solid;
$textfield-focused-input-underline-width: 0px;
$textfield-input-border-color: #D9D9D9;
$textfield-input-border-style: solid;
$textfield-input-border-width: 1px;
$textfield-input-padding: 10px 15px 11px 10px;
$textfield-input-underline-width: 0px;
$textfield-invalid-input-underline-width: 0;


$field-label-font-weight: $font-weight-normal;
$field-label-font-size: $font-size;
$field-label-font-size-big: $font-size;
$field-label-line-height: 25px;
$field-label-line-height-big: 30px;