/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */

 
.header-toolbar div.x-toolbar-body-el{
  padding: 5px 7px;
  min-height: auto;
  font-size: 1em;
  font-weight: normal;
}

// .x-list.x-floated{
//   z-index: 15;
// }

.uxToast{
  background-color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  .x-toast-body-el{
      //background-color:material-color('grey', '50');
      background-color: #333;
      color: #fff;
  }
}

.hideHeaders .x-headercontainer{
  margin-bottom: -49px !important;
}

@include panel-ui(
    $ui: 'dark',
    $header-font-weight: normal,
    $header-padding: 5px 7px,
    $header-min-height: 46px,
    $header-min-height-big: 46px,
    $header-background-color: #3a3a3a,
    $header-padding-big: 0 0 0 0,
);

@include toolbar-ui(
  $ui: 'dark',
  $background-color: #3a3a3a,
  $color: #fff
);

@include menu-ui(
  $ui: 'dark',
  $body-background-color: #3a3a3a,
  $body-color: #fff
);

@include menuitem-ui(
  $ui: 'dark',
  $color: #fff,
  $active-background-color: #4d4d4d
);

.x-button-plain.x-disabled .x-icon-el{
  color: rgba(255, 255, 255, 0.45) !important;
}

.listing .x-innerhtml .error{
  position: absolute;
  font-size: 24px;
  line-height: 24px;
  width: 75px;
  text-align: center;
  z-index: 4;
  color: material-color('red', '500');
  top: 50px;
}

.btn-confirm{
  height: 26px;
  display: inline-block;
  width: 40px;
  line-height: 26px;
  border-radius: 3px;  
}

