/*
.ux-image img{
    width: 100% !important;
}
*/

.image-w img{
    width: 100% !important;
    height: auto !important;
}

.img-fluid img{
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}