.x-number-input-panel{
    background-color: $background-color;
    min-width: 180px;
    height: 356px;

    .no-decimals  {
        .decimal-first-container, .decimal-second-container{
            display: none;
        }
    }

    .decimals-one .decimal-second-container{
        display: none;
    }

    .item-container{
        border: 1px #dee2e6 solid;
        margin: 1px;
        min-width: 32px;
    }

    .item{
        display: block;
        cursor: pointer;
        width: 100%;
        height: 32px;
        line-height: 32px;
        margin: 1px;
        text-align: center;

    }



    .item.selected {
        background-color: var(--base-color) !important;
    }
    .item:hover{
        background-color: var(--hovered-background-color);
    }
}