@include menu-ui(
    $ui: 'dark',
    $body-background-color: #3a3a3a,
    $body-color: #fff
  );
  
  @include menuitem-ui(
    $ui: 'dark',
    $color: #fff,
    $active-background-color: #4d4d4d
  );