@include panel-ui(
    $ui: 'light',
    $header-background-color:#ffffff,
    $header-color : #424242,
    $header-border-color:#ddd,
    $header-border-width : 1px,
    $header-border-style: none none solid none,
    $header-font-weight : bold
)