.bg-color-white{
    background-color: #fff;
}
.bg-content{
    background-color: $background-color;
}
.color-base{
    color: $base-color;
}
.color-alert{
    color: $alert-color;
}
.color-warning{
    color: $accent-color;
}
.color-success{
    color: $confirm-color;
}