.bg-color-white{
    background-color: #fff;
}
.bg-content{
    background-color: $background-color;
}
.color-base{
    color: $base-color !important;
}
.color-alert,
.color-danger{
    color: $alert-color !important;
}
.color-warning{
    color: $accent-color !important;
}
.color-success{
    color: $confirm-color !important;
}