/*
来源：Metro 5 - Sleek, intuitive, and powerful front-end framework for faster and easier web development. 
    Build responsive, mobile-first projects on the web with the first front-end component library in Metro Style.
URL: https://metroui.org.ua/
*/

.d-flex {
    display: flex!important;
  }
  .d-inline-flex {
    display: inline-flex !important;
  }
  .order-1 {
    order: 1 !important;
  }
  .order-2 {
    order: 2 !important;
  }
  .order-3 {
    order: 3 !important;
  }
  .order-4 {
    order: 4 !important;
  }
  .order-5 {
    order: 5 !important;
  }
  .order-6 {
    order: 6 !important;
  }
  .order-7 {
    order: 7 !important;
  }
  .order-8 {
    order: 8 !important;
  }
  .order-9 {
    order: 9 !important;
  }
  .order-10 {
    order: 10 !important;
  }
  .order-11 {
    order: 11 !important;
  }
  .order-12 {
    order: 12 !important;
  }
  .order-13 {
    order: 13 !important;
  }
  .order-14 {
    order: 14 !important;
  }
  .order-15 {
    order: 15 !important;
  }
  .order-16 {
    order: 16 !important;
  }
  .order-17 {
    order: 17 !important;
  }
  .order-18 {
    order: 18 !important;
  }
  .order-19 {
    order: 19 !important;
  }
  .order-20 {
    order: 20 !important;
  }
  .order-21 {
    order: 21 !important;
  }
  .order-22 {
    order: 22 !important;
  }
  .order-23 {
    order: 23 !important;
  }
  .order-24 {
    order: 24 !important;
  }
  .flex-equal-items > * {
    flex: 1!important;
  }
  .flex-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-wrap {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column {
    flex-direction: column!important ;
  }
  .flex-column-r {
    flex-direction: column-reverse;
  }
  .flex-row {
    flex-direction: row !important;
  }
  .flex-row-r {
    flex-direction: row-reverse !important;
  }
  .flex-align-start {
    align-items: flex-start !important;
  }
  .flex-align-end {
    align-items: flex-end !important;
  }
  .flex-align-center {
    align-items: center !important;
  }
  .flex-align-stretch {
    align-items: stretch !important;
  }
  .flex-align-baseline {
    align-items: baseline !important;
  }
  .flex-self-start {
    align-self: flex-start !important;
  }
  .flex-self-end {
    align-self: flex-end !important;
  }
  .flex-self-center {
    align-self: center !important;
  }
  .flex-self-stretch {
    align-self: stretch !important;
  }
  .flex-self-baseline {
    align-self: baseline !important;
  }
  .flex-justify-start {
    justify-content: flex-start !important;
  }
  .flex-justify-end {
    justify-content: flex-end !important;
  }
  .flex-justify-center {
    justify-content: center !important;
  }
  .flex-justify-between {
    justify-content: space-between !important;
  }
  .flex-justify-around {
    justify-content: space-around !important;
  }
  .flex-content-start {
    align-content: flex-start !important;
  }
  .flex-content-end {
    align-content: flex-end !important;
  }
  .flex-content-center {
    align-content: center !important;
  }
  .flex-content-between {
    align-content: space-between !important;
  }
  .flex-content-around {
    align-content: space-around !important;
  }
  .flex-content-stretch {
    align-content: stretch !important;
  }
  .flex-no-shrink > * {
    flex-shrink: 0!important;
  }
  .flex-shrink > * {
    flex-shrink: 1!important;
  }
  .flex-no-grow > * {
    flex-grow: 0!important;
  }
  .flex-grow > * {
    flex-grow: 1!important;
  }
  .flex-no-shrink-self {
    flex-shrink: 0!important;
  }
  .flex-shrink-self {
    flex-shrink: 1!important;
  }
  .flex-no-grow-self {
    flex-grow: 0!important;
  }
  .flex-grow-self {
    flex-grow: 1!important;
  }
  .flex-right {
    margin-left: auto!important;
  }
  .flex-left {
    margin-right: auto!important;
  }
  .flex-top {
    margin-bottom: auto!important;
  }
  .flex-bottom {
    margin-top: auto!important;
  }
  /*# sourceMappingURL=flex.css.map */