//Logo



.headerMenu {
  &.x-pressed {
      .x-inner-el {
          background-color: var(--alt-background-color);
      }
  }
}

.app-title {
  font-size: 24px;
  color: material-color('grey', '800');
  margin-top: -5px;
}

/*
*  This file can be used to set variables and supply global styling.  View specific 
*  styling should be located the view's corresponding scss file.
*/

.uxToast{
  border: 1px solid $base-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  .x-toast-body-el{
      background-color:material-color('grey', '50');
      color: #111;
      .x-innerhtml{
          text-align: left;
      }
  }
}
$textfield-focused-input-border-style: solid;
$textfield-focused-input-underline-width: 0px;
$textfield-input-border-color: #D9D9D9;
$textfield-input-border-style: solid;
$textfield-input-border-width: 1px;
$textfield-input-padding: 10px 15px 11px 10px;
$textfield-input-underline-width: 0px;
$textfield-invalid-input-underline-width: 0;


$field-label-font-weight: $font-weight-normal;
$field-label-font-size: $font-size;
$field-label-font-size-big: $font-size;
$field-label-line-height: 25px;
$field-label-line-height-big: 30px;

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

 //导航树UI
 @include treelist-ui( 
   $ui: 'navigation', 
   $padding: 0 10px,
   // Black-ish background color
   $background-color: #353535, 
   $toolstrip-background-color: #353535, 
   $tool-float-indicator-color: $base-color, 
   $tool-float-indicator-width: 5px, 
   $tool-indicator-selected-color: $base-color, 
   $tool-indicator-selected-width: 5px, 
   $tool-selected-background-color: mix(white, $base-color, 10%),
   //$tool-selected-color: #fff,
   //$tool-selected-background-color: $panel-header-background-color,
   // Darker background for expanded subtrees
   $item-expanded-background-color: #353535,
   // Taller line height
   $item-line-height : $panel-navigation-item-line-height, 
   $row-over-background-color: mix(white, $panel-navigation-background-color, 5%), 
   $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
   // Off-white text
   $item-icon-color: $panel-navigation-item-text-color, 
   $item-expander-color: #fff, 
   $item-text-color: #ADB3B8,
   // Brighter when hovered
   $item-icon-over-color: #fff,
   $item-expander-over-color: #fff, 
   $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%), 
   $item-text-font-size: 14px,
   // Various sizes for the pieces:
   $item-icon-font-size: 18px, 
   $item-icon-width: 44px, 
   $item-expander-font-size: 16px, 
   $item-expander-width: 24px,
   // Style the "row indicator" (the vertical stripe on the left edge):
   $row-indicator-width: 5px, 
   $row-indicator-selected-color: $panel-header-background-color, 
   $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%), 
   $row-indicator-over-color: darken($panel-header-background-color, 15%) 
 );
 
 //导航树UI
 @include treelist-ui( 
   $ui: 'navigationInView', 
   $padding: 0 10px,
   $background-color: #fff,
 
   $toolstrip-background-color: #fff,
   $tool-selected-color: $color,
   $tool-selected-background-color: darken($background-color, 15%),
   $tool-float-indicator-width: 4px,
   $tool-float-indicator-color: $accent-light-color,
   $tool-indicator-selected-color: $accent-color,
   $tool-indicator-selected-width: 4px,
 
   $row-indicator-width: 6px,
   $row-indicator-selected-color: $accent-color,
   $row-indicator-selected-over-color: $accent-color,
   $row-indicator-over-color: $accent-light-color,
 
   $item-expanded-background-color: #fff,
   $item-line-height: 44px,
   $item-icon-color: lighten($color, 25%),
   $item-expander-color: lighten($color, 30%),
   $item-text-color: $color,
   $row-over-background-color: darken(#fff, 10%),
   $row-over-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
   $item-icon-over-color: lighten($color, 25%),
   $item-expander-over-color: $color,
   $item-text-over-color: $color,
   $item-text-font-size: 16px,
   $item-icon-font-size: 18px,
   $item-icon-width: 24px,
   $item-expander-font-size: 22px,
   $item-expander-width: 24px,
   $item-icon-over-transition: none,
   $item-text-over-transition: none,
   $item-expander-over-transition: none,
   $item-expander-glyph: 'keyboard_arrow_down',
   $item-expander-expanded-glyph: 'keyboard_arrow_up',
 
   $row-selected-background-color: darken(#fff, 10%)
 );
