.dataview-month{
    padding: 10px;
  }
  .dataview-month-item{
    padding: 8px;
    width: 62px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
  }
  .dataview-year-item{
    padding: 5px;
    width: 58px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }
  .dataview-month-item.x-selected,.dataview-year-item.x-selected{
    color: #fff;
    color: var(--background-color);
    background-color: #2196f3;
    background-color: var(--base-color);
    font-weight: normal;  
  }
  .dataview-hour{
    padding: 10px;
  }
  .dataview-hour-item{
    padding: 8px;
    width: 42px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
  }
  .dataview-hour-item.x-selected{
    color: #fff;
    color: var(--background-color);
    background-color: #2196f3;
    background-color: var(--base-color);
    font-weight: normal;  
  }
  