@page
@using Microsoft.AspNetCore.Mvc.Localization
@using QuickTemplate.Localization
@model QuickTemplate.Web.Pages.AboutModel
@inject IHtmlLocalizer<QuickTemplateResource> _localizer;
@{
}

<div class="container">
    <p class="h6"><b>网名</b>： 上将军</p>
    <p>Sencha Mvp</p>
    <p>@_localizer["AboutMe"]</p>
    <p>@_localizer["Blog"]: <a href="https://huangdengqiao.blog.csdn.net/">https://huangdengqiao.blog.csdn.net/</a></p>
    <p>Github: <a href="https://github.com/tianxiaode/">https://github.com/tianxiaode/</a></p>
</div>