@page
@using Microsoft.AspNetCore.Mvc.Localization
@using QuickTemplate.Localization
@using Volo.Abp.Users
@model QuickTemplate.Web.Pages.IndexModel
@inject IHtmlLocalizer<QuickTemplateResource> L
@inject IHtmlLocalizer<QuickTemplateResource> _localizer;
@inject ICurrentUser CurrentUser;
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<div class="container">
    <p class="h6">@_localizer["WebDescription"]</p>
    <ul>
        @{
            for (var i = 1; i < 9; i++)
            {
                <li>@_localizer[$"DemoList:{i}"]</li>
            }
        }
    </ul>
</div>
