@page
@using Microsoft.AspNetCore.Mvc.Localization
@using QuickTemplate
@using QuickTemplate.Localization
@using Volo.Abp.Users
@model QuickTemplate.Web.Pages.IndexModel
@inject IHtmlLocalizer<QuickTemplateResource> L
@inject IHtmlLocalizer<QuickTemplateResource> Localizer;
@inject ICurrentUser CurrentUser;
@section styles {
    <metro-style src="/Pages/Index.css" />
}
@section scripts {
    <metro-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="row">
        <div class="cell-lg-6">
            <h1>开源</h1>
        </div>
        <div class="cell-lg-6"></div>
    </div>
    <p class="h5 text-center">@Localizer["WebDescription"]</p>

    <div class="d-flex align-items-center flex-wrap p-5">

        @{
            foreach (var s in QuickTemplateConsts.DemoCard)
            {
                var titleKey = $"{nameof(QuickTemplateConsts.DemoCard)}:{s}";
                <div class="card overflow-hidden m-2" style="width: calc(33.33% - 1rem ); height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">@Localizer[titleKey]</h5>
                        <p class="card-text">@Localizer[$"{titleKey}:Description"]</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

            
